*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100%;
    width: 100%;

}

.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-size: cover;
    z-index: -1;
    filter: blur(2px);
}

.content {
    position: relative;
    z-index: 1;
}



.tradingview-widget-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 46px;
    width: 100%;
}

.header {
    overflow: hidden;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width:100%;
    padding: 0 30px;
    margin-top: 46px;
    
}

.tradingview-widget-copyright{
    display: none;
}

.logo{
    height:70px;
    width: 130px;
}

nav ul {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    border-radius: 50px;
}

nav ul li {
    list-style: none;
    margin: 0 35px;
    
}

nav a {
    float: right;
    display: block;
    color: #eff6f3;
    text-align: center;
    padding: 8px 16px;
    font-weight: 600;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
.nav-active{
    background: #ddd;
    color: black;
    border-radius: 50px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(132, 219, 188);
    margin: 25px 0;
    
}

form{
    padding: 10px;
}

.input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: medium;
    padding-left: 20px;

}

.yourcontent{
    text-align: center;
}

.icon-button {
    background-color: #649b49;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.icon-button:hover {
    background-color: #6bb8c8;
}
