*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100%;
    width: 100%;
    background-color: black;

}

nav {
    overflow: hidden;
    display: flex;
    background-color: rgb(39, 36, 36);
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width:100%;
    padding: 0 30px;
    top: 0;
    position: fixed;
    
}

h1{
    color: aqua;
}

.logo{
    height:70px;
    width: 130px;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    height: 40px;
    align-items: center;
    border-radius: 50px;
}

nav ul li {
    list-style: none;
    margin: 0 35px;
    
}

nav a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 8px 16px;
    font-weight: 600;
    /* margin: 10px; */
    text-decoration: none;
  }
  
.nav-active{
    background: #ddd;
    color: black;
    border-radius: 50px;
}

